FoundationPose_ROS/demo_data
FoundationPose_ROS/weights
__pycache__/
Grounded-Segment-Anything/groundingdino_swint_ogc.pth
Grounded-Segment-Anything/sam_vit_h_4b8939.pth
Grounded-Segment-Anything/outputs